# The .gitignore file tells Git which files or folders to ignore.
# These ignored files won't be tracked or saved by Git.

# cache and temp
__pycache__/
*.pyc
*.pyo
*.swp
*.tmp
.cache
*.cache
.DS_Store

# virtual environments
.venv/
venv/

# environmental variables
.env

# logs
logs/
*.log

# vscode settings - uncomment if required
# .vscode/

# local history
.history/

# JSON files
*.json

# database related files
database/
*.db
*-shm
*-wal

# uneeded metadata
*.egg-info