# Image Processing
numpy
pillow
scikit-learn

# Interacting with API
ping3
aiohttp
requests

# Database
prisma

# Discord and Environment Management
discord.py
psutil
python-dotenv
setuptools

# Compatibility
# This makes discord.py work on Python 3.13
audioop-lts; python_version>="3.13"